/* ===========================Basic Style=========================== */
:root {
	--primary-color: #002776; /*Темно синий*/
	--bg-card: #F1F7FF; /*Светло синий*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

h1 {
	font-size: 2.8rem;
	margin-top: 3em;
	margin-bottom: 1em;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1.8rem;
	margin-bottom: .5em;
}

p {
	font-size: 1.25rem;
	color: #ffffffc7;
	margin-bottom: 2em;
}

.content {
	display: grid;
	grid-template-columns: minmax(0, 20%) 258px 80px 80px 580px minmax(0, 20%);
}

.header {
	padding-top: 20px;
}

.body {
}

.left-content, .right-content {
	display: grid;
    grid-template-rows: 150px 1fr 100px;
}

/*===============Left===============*/

.left-bg {
	background-color: var(--primary-color);
}

.left-content {
	height: 100vh;
	color: #fff;
	background-color: var(--primary-color);
}

.left-content a {
	color: #ccc;
	text-decoration: none;
}

figcaption {
	font-weight: 700;
}

.tabs {
	margin-top: 45px;
}

.tabs__link {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.tabs__link span {
	margin-left: 10px;
}

/*===============Right===============*/

.messanger {
	border: 1px solid #0064BB;
	background-color: #E9E9F0;
}

.messanger__header {
	color: #ccc;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: var(--primary-color);
}

.messanger__body {
	padding: 20px;
}

.messanger__footer {
	display: grid;
	grid-template-columns: 1fr 120px;
}

.messanger__footer input {
	padding-left: 20px;
}

/*Nav-Menu*/

.nav-main {
	display: flex;
	float: right;
}

.nav-icon {
	margin-left: 15px;
}

.icon {
	margin-right: 12px;
}

.profile-link {
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	color: var(--primary-color);
	text-decoration: none;
	margin-left: 50px;
}

.profile-link span {
	opacity: .8;
}

.profile-link span:hover {
	opacity: 1;
}

.profile-link img {
	margin-right: 10px;
}

/*btn*/

.btn {
	padding: 1.2em 2em;
}

.btn--primary {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	background-color: transparent;
}